@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Righteous&family=Roboto&family=Sarala&display=swap');
 *{
    text-decoration: none;
    margin:0;
    padding: 0;
    border: 0;
    color: #4d4d4d ;
    list-style: none;
    font-family: 'Sarala', sans-serif;
   
 }
header{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 20px;
   align-items: center;
   
}
.img-empresa{
   width: 110px;
}
.menu{
   display: flex;
   gap: 20px;
   font-size: small;
   align-items: center;
}
.menu-opções{
   gap: 75px;
   display: flex;
   font-size: 11.137px;
   font-weight: 570;
   flex-direction: row;
   justify-content: space-around;
   list-style-type: none;
   align-items: center;
}
.botoes{
   color: white;
   padding: 9.745px 22.274px;
   font-size: 11.137px;
   background: #4caf4f ;
   border-radius: 2px;
   margin-top: 5px;
}
.artigos-dlupos{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 60px;
   color: #4d4d4d ;
   
   
}
.artigos-duplos-espaço{
   display: flex;
   flex-direction: column;
   gap: 10px;
   color: #4d4d4d ;
   
}
#botao-tamanho{
   width: 40PX;
   left: 45PX;
   
}
.paragrafos{
   font-size: small;
   opacity: 0.8;
   margin: 5px;
   text-align:left;
   color: #4d4d4d ;
   
}
.textos-em-verde{
   color: #4caf4f;
}
.titulos{
   font-size: 200%;
   font-weight: 600;
   color: #4d4d4d ;
}
.txt-centro{
   justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 5px;
   margin: 35px;
   text-align: center;
   color: #4d4d4d ;
}
.clientes{
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 125px;
   margin: 40px;
}
.artigos-texto{
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 90px;
   font-size: 77%;
   
}
.texto-dlupo{
   display: flex;
   justify-content: space-around;
   align-items: center;
   
}
.txt-coluna{
   display: flex;
   flex-direction:row;
   gap: 110px;
   margin: 20px;
   
  
}
.colunas{
   display: flex;
   float: left;
   flex-direction: row;
   
}
.figuras{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.ler{
   font-size: small;
   color: #4caf4f;
   display: flex;
   justify-content: center;
}
footer{
   background-color: #263238;
   display: flex;
   justify-content:space-around;
   padding: 25px 44.5px;
   
}
.footer-txt{
   color: aliceblue;
}